[submodule "graphics/extern/glfw"]
	path = graphics/extern/glfw
	url = https://github.com/ebanjo-2/glfw
[submodule "graphics/extern/imgui"]
	path = graphics/extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "tools/extern/stb"]
	path = tools/extern/stb
	url = https://github.com/ebanjo-2/stb
[submodule "tools/extern/assimp"]
	path = tools/extern/assimp
	url = https://github.com/ebanjo-2/assimp
[submodule "physics/extern/JoltPhysics"]
	path = physics/extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "tools/extern/glm"]
	path = tools/extern/glm
	url = https://github.com/g-truc/glm
